<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      {{ site.first_name }} {{ site.last_name }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/about/' | relative_url }}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="{{ '/projects/' | relative_url }}">Projects</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="{{ '/cv/' | relative_url }}">CV</a></li> -->
        <li class="nav-item"><a class="nav-link" href="{{ '/news/' | relative_url }}">News</a></li>
      </ul>
    </div>
  </div>
</nav>
